<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <ul class="nav">
                        <li><a routerLink="">Ana Sayfa</a></li>
                        <li><a routerLink="store">Mağaza</a></li>
                        <li><a routerLink="blogs">Blog</a></li>
                        @if (!isAuth) {
                        <li><a routerLink="login">Giriş Yap / Kayıt Ol</a></li>
                        }@else {
                        <li><a (click)="onLogout()">Çıkış Yap</a></li>
                        }
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menü</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>