@if (gameProduct) {
<div class="row mb-4">
    <div class="col-md-6">
        <c-carousel [interval]="0" style="height: 25rem;" class="carousel slide">
            <c-carousel-inner>
                @for(gameImage of gameProduct.images; track gameProduct){
                <c-carousel-item>
                    <img src={{gameImage.url}} alt={{gameImage.name}} class="d-block w-100" loading="lazy" />
                </c-carousel-item>
                }
            </c-carousel-inner>
            <c-carousel-control caption="Previous" direction="prev" />
            <c-carousel-control caption="Next" direction="next" />
        </c-carousel>
    </div>
    <div class="col-md-6 p-3">
        <div class="d-flex align-items-center gap-3">
            <div>
                <h1 class="h3">{{gameProduct.name}}</h1>
                <span>{{gameProduct.category.name}}</span>
            </div>
        </div>
        <hr>
        <div class="mt-2" style="height: 65%;">
            <p>{{gameProduct.description}}</p>
        </div>
        <div class="mt-2 d-flex justify-content-end">
            <a href="#" class="h4">İNDİR</a>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-9">
        <div class="game-detail-content p-4">
            <div class="mb-4">
                <span class="h4">Detaylı Bilgi</span>
            </div>
            <div [innerHTML]="gameProduct.content">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="game-detail-content p-4">
            <div class="d-flex justify-content-between mb-3">
                <strong>OS</strong>
                <span>Windows</span>
            </div>
            <div class="d-flex justify-content-between mb-3">
                <strong>OS</strong>
                <span>Windows</span>
            </div>
            <div class="d-flex justify-content-between">
                <strong>OS</strong>
                <span>Windows</span>
            </div>
        </div>
    </div>
</div>
}